@model BlogProject2.Core.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Edit Article";
}

<br />
<br />

<h3 class="text-center">Edit Article</h3>

<form method="POST" asp-action="Edit" enctype="multipart/form-data">
    <div class="row px-2 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-8 mt-4">

            <div class="form-group row createCont">
                <div class="col-4">
                    <label asp-for="Article.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Article.Name" class="form-control" placeholder="Introduce name">
                    <span asp-validation-for="Article.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row createCont">
                <div class="col-4">
                    <label asp-for="Article.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Article.Description" class="form-control" style="height:300px"></textarea>
                    <span asp-validation-for="Article.Description" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row createCont">
                <div class="col-4">
                    <label for="Category">Category</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Article.CategoryId, Model.CategoriesList,
                    "-Choose category-", new { @class = "form-control" })
                    <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row createCont">
                <div class="col-4">
                    <label asp-for="Article.UrlImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="file" id="uploadFile" class="form-control" >
                    <span asp-validation-for="Article.UrlImage" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group-row createCont">
                <div class="col-8">
                    <partial name="_ViewCreateReturn" />
                </div>
            </div>
        </div>

        <div class="col-4 pt-3">
            <img src="@Model.Article.UrlImage" width="200px" style="border-radius: 5px; border: 1px solid black;"/>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

     <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });

        
    </script>
}